footer.footer
  .container-fluid
    nav.pull-left
      ul
        li
          a(href='#')
            | Home
        li
          a(href='#')
            | Company
        li
          a(href='#')
            | Portfolio
        li
          a(href='#')
            | Blog
    p.copyright.pull-right
      | © &nbsp;
      script.
        document.write(new Date().getFullYear())
      a(href='https://dounets.com') &nbsp; LTV Co., Ltd
      | , made with love for a better web
