link(href='/assets/css/bootstrap.min.css', rel='stylesheet')
link(href='/assets/css/material-dashboard.css?v=1', rel='stylesheet')
link(href='/assets/css/style.css?v=1', rel='stylesheet')
link(href='https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css', rel='stylesheet')
link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons')
